* {
  margin: 0;
}
body {
  height: 100%;
}
header {
  background: #fff;
  height: 150px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.navTop {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  background-color: #f5f5f5;
}
.socials {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.contacts {
  display: flex;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.contactBox {
  padding: 10px;
  display: flex;
}
.contactBox img {
  padding-right: 5px;
}
.navBottom {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
.navLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
}
.navLinks {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.navLinks a {
  text-decoration: none;
  color: #000;
  padding: 10px;
}
.navLinks ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}
li:hover a {
  background-color: #17c1a3;
  cursor: pointer;
  color: #000;
}
#selected a {
  color: red;
}
.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.docSection {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
}
.sectionMain {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mainBanner {
  width: 95%;
  position: relative;
}
.text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding-left: 100px;
  height: 80%;
}
.text h1 {
  font-size: 50px;
  color: #211e1e;
}
.textButtons {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.doctorButton {
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainBanner img {
  width: 100%;
}
.bannerInputsContainer {
  margin-bottom: 20px;
  position: absolute;
  width: 70%;
  bottom: 0;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  height: 30%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.bannerInputs {
  height: 80%;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.inputTable {
  height: 80%;
  display: flex;
  flex-direction: column;
}
.inputTopRow {
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputBottomRow {
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputBottomRow a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-align: center;
  text-decoration: none;
  color: initial;
  background-color: #17c1a3;
  border: none;
  color: #fff;
  padding-top: 16px;
  height: 35px;
  width: 290px;
  border-radius: 7px;
}
input {
  width: 290px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 7px;
  font-size: 16px;
  padding: 12px 20px 12px 10px;
}
select {
  width: 290px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 7px;
  font-size: 16px;
  padding: 12px 20px 12px 10px;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-align: center;
  text-decoration: none;
  color: initial;
  background-color: #17c1a3;
  border: none;
  color: #fff;
  padding-top: 20px;
  height: 40px;
  width: 290px;
  border-radius: 7px;
}
.specTable {
  padding-left: 30px;
  padding-right: 30px;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.specItem {
  text-align: center;
}
.specItem img {
  width: 200px;
}
.carousel {
  padding: 50px;
  height: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel h1 {
  padding-left: 50px;
}
.docBg {
  background-color: #dff2fa;
  position: relative;
  height: 100%;
}
.doctorsMain {
  display: flex;
  height: 100%;
}
.doctorBg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.doctorBg img {
  height: 100%;
  width: 100%;
}
.docContent {
  margin-top: 10%;
  margin-right: 5%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.docByline {
  display: flex;
  align-items: center;
}
.docByline img {
  padding-right: 10px;
}
#doc {
  z-index: 2;
  height: 100%;
}
.posterSection {
  background-color: #eaf2ff;
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
}
.posterMain {
  display: flex;
  height: 100%;
  width: 90%;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}
.posterBg {
  position: relative;
  height: 100%;
  width: 100%;
}
.posterBg img {
  height: 100%;
  width: 100%;
}
.posterContent {
  height: 50%;
  width: 90%;
  display: flex;
  position: absolute;
  top: 50px;
  align-items: center;
  justify-content: space-around;
}
.halfBg {
  background: linear-gradient(180deg, #fff 70%, #eaf2ff 30%);
}
.emailInput {
  display: flex;
  border-bottom: 1px solid #000;
}
#newsL {
  outline: 0;
  border: none;
}
.emailInput a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-align: center;
  text-decoration: none;
  color: initial;
  background-color: #17c1a3;
  border: none;
  color: #fff;
  padding-top: 8px;
  height: 32px;
  width: 130px;
  border-radius: 7px;
}
footer {
  background-color: #f9fafa;
  height: 500px;
  color: #000;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.footerTop {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  height: 300px;
  align-items: flex-end;
}
.footerLinks {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footerLinks a {
  text-decoration: none;
  color: #000;
  margin: 20px;
}
.footerLinks p {
  font-weight: 700;
}
.footerLogo {
  width: 30%;
}
.footerBottom {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  background-color: #f5f5f5;
}
.footerContacts {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.contactIcons {
  display: flex;
}
.contactIcons img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.socialIcons {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.socialIcons img {
  width: 40px;
}
